* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
	/*transition: all 1s;*/
}
/***顶部***************************/
header {
	width: 100%;
	height: 138px;
	border-bottom: 1px solid hsla(0,0%,100%,.05);
}

/***导航栏*****************************/			
header .h_nav {
	width: 100%;
	height: 100px;
	background-color: #511824;
	/*添加渐变*/
    background-image: linear-gradient(#46101b,#4e141f);
	border-bottom: 1px solid hsla(0,0%,100%,.05);
}

header .h_nav .container {
	height: 100px;
	width: 1210px;
	margin: 0 auto;
	position: relative;
}
			
header .h_nav .container > a {
	width: 50px;
	height: 50px;
	background: url(../imgJianGuoPro2/global-logo-red@2x.85550cd7bec73c98adacee227ba6a8a0.png) no-repeat 0px -270px;
	background-size: 50px;
	display: block;
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
			
header .h_nav .container > ul {
	height: 100%;
	float: left;
	margin-left: 258px;	
	line-height: 100px;			
}

header .h_nav .container > ul > li {
	float: left;
	margin-right: 50px;
}

header .h_nav .container > ul > li > a {
	color: #96626d;
	text-decoration: none;
	font-size: 14px;
}

header .h_nav .container > ul > li:nth-child(2) > a {
	color: #d08f97;
	font-size: 14.5px;
}

header .h_nav .container > div:nth-of-type(1) {
	width: 148px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border-left: 1px solid #96626d;
}

header .h_nav .container > div:nth-of-type(1) > .account {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../imgJianGuoPro2/account-icon.32d87deb02b3d1c3cc5bcff0c26314ac.png) no-repeat -5px 0px;
	float: left;
	margin-left: 52px;
}

header .h_nav .container > div:nth-of-type(1) > .shopping {
	width: 30px;
	height: 20px;
	display: block;
	background: url(../imgJianGuoPro2/account-icon.32d87deb02b3d1c3cc5bcff0c26314ac.png) no-repeat 0px -22px;
	float: left;
	margin-left: 25px;
}

header .h_nav .container > div:nth-of-type(1) > .count {
	width: 20px;
	height: 20px;
	float: right;	
	text-align: center;	
	color: white;
	background: #969696;
    background-image: linear-gradient(#a4a4a4,#909090);
	border-radius: 10px;
	font-size: 14px;
}

/***购物车弹出框**********************/
header .h_nav .container > div:nth-of-type(2) {
	width: 360px;
	height: 315px;
	background: url(../imgJianGuoPro2/cart-empty.01f4c99a9df22275a7d374be0195adc7.png) no-repeat 50% 90px;
	background-color: white;
	position: absolute;
	z-index: 1;
	border-radius: 10px;
	right: -10px;
	top: 74px;
	display: none;
}

header .h_nav .container > div:nth-of-type(2) .triangle {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	transform: rotate(45deg);
	right: 18px;
}

header .h_nav .container > div:nth-of-type(2) p {
	text-align: center;
}

header .h_nav .container > div:nth-of-type(2) p:nth-of-type(1) {
	position: absolute;
	font-size: 19px;
	color: #333;
	top: 182px;
	width: 100%;
}

header .h_nav .container > div:nth-of-type(2) p:nth-of-type(2) {
	position: absolute;
	font-size: 10px;
	color: #bcbcbc;
	width: 100%;
	top: 210px;
}

header .h_nav .container > div:nth-of-type(2):hover {
	display: block;
}

/***菜单栏*****************************/
header .h_menu {
	width: 100%;
	/*height: 38px;*/
	height: 38px;
    border-top: 1px solid hsla(0,0%,100%,.05);
    border-bottom: 1px solid hsla(0,0%,100%,.05);
    background-color: #511824;
    background-image: linear-gradient(#4d141e,#531824);
	z-index: 2;
	transition: all 0.5s;
}

header .h_menu > .container {
	width: 1210px;
	height: 38px;
	margin: 0 auto;
	position: relative;
}

header .h_menu > .container > h2 {
	width: 93px;
	height: 60px;
	line-height: 60px;
	float: left;
	margin-right: 86px;
	font-size: 20px;
	color: #a67480;
	font-weight: 300;
	display: none;
	transition: all 0.5s;
}

header .h_menu > .container > ul {
	height: 38px;
	line-height: 38px;
	float: left;
	transition: all 0.5s; 
}

header .h_menu > .container > ul > li {
	float: left;
}

header .h_menu > .container > ul > li > a {
	color: #96626d;
	font-size: 12px;
	display: block;
}

header .h_menu > .container > ul > li > a:hover {
	color: #d08f97;
}

header .h_menu > .container > ul:nth-of-type(1) {
	width: 318px;
}

header .h_menu > .container > ul:nth-of-type(1) > li {
	width: 54px;
}

header .h_menu > .container > ul:nth-of-type(1) > li:nth-child(4), li:nth-child(5) {
	width: 78px;
}

header .h_menu > .container > ul:nth-of-type(2) {
	width: 197px;
	margin-left: 580px;
}

header .h_menu > .container > ul:nth-of-type(2) > li:nth-child(1) {
	width: 60px;
}

header .h_menu > .container > ul:nth-of-type(2) > li:nth-child(2) {
	width: 137px;
	text-align: right;
}

header .h_menu > .container > ul:nth-of-type(1) > li:nth-child(1) > a {
	color: #d08f97;
}

header .h_menu > .container > a {
	width: 97px;
	height: 30px;
	display: block;
	color: white;
	position: absolute;
	top: 4px;
	right: 0;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #19419b;
    background-image: linear-gradient(hsla(0,0%,100%,.05),hsla(0,0%,100%,.05));
    box-shadow: inset 0 0 7px hsla(0,0%,100%,.05), inset 0 1px 3px hsla(0,0%,100%,.2), 0 0 3px hsla(0,0%,100%,.1);
}

header .h_menu > .container > a:hover {
    background-color: #102b66;
    box-shadow: inset 0 0 7px hsla(0,0%,100%,.05), inset 0 1px 3px hsla(0,0%,100%,.06), 0 0 3px hsla(0,0%,100%,.1);
}

/***中部***************************/			
section {
	width: 100%;
	height: 3750px;
	border-top: 1px solid hsla(0,0%,100%,.05);
}

section > ul {
	width: 100%;
}

section > ul > li {
	width: 100%;
	height: 940px;
	overflow: hidden;
	position: relative;
}

section > ul > li > img {
	width: 140%;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 1s; 
}

section > ul > li:nth-child(1) .link {
	width: 260px;
	height: 18px;
	position: absolute;
	top: 167px;
	left: 50%;
	transform: translateX(-50%);
}

section > ul > li:nth-child(1) .link > li {
	height: 18px;
	float: left;
	border: 1px solid white;
}

section > ul > li:nth-child(1) .link > li:nth-child(1) {
	width: 117px;
	margin-right: 26px;
}

section > ul > li:nth-child(1) .link > li:nth-child(2) {
	width: 42px;
	margin-right: 26px;
}

section > ul > li:nth-child(1) .link > li:nth-child(3) {
	width: 42px;
}

section > ul > li:nth-child(2) .link {
	width: 260px;
	height: 70px;
	position: absolute;
	top: 248px;
	left: 50%;
	transform: translateX(-50%);
}

section > ul > li:nth-child(2) .link > li {
	border: 1px solid black;
	height: 18px;
	float: left;
}

section > ul > li:nth-child(2) .link > li:nth-child(1) {
	width: 117px;
	margin-right: 26px;
}

section > ul > li:nth-child(2) .link > li:nth-child(2) {
	width: 42px;
	margin-right: 26px;
}

section > ul > li:nth-child(2) .link > li:nth-child(3) {
	width: 42px;
}

section > ul > li:nth-child(2) .link > li:nth-child(4) {
	width: 190px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

section > ul > li .link > li > a {
	display: block;
	width: 100%;
	height: 100%;
}

section > ul > li > .img_config {
	width: 100%;
	height: 78.4px;
	position: absolute;
}

section > ul > li:nth-child(3) > .img_config {
	background: url(../imgJianGuoPro2/features-title.9f54782f1961077b174c593fdcae6f19.png) no-repeat;
	top: 50%;
	transform: translateY(-50%);
	background-position-x: 50%;
}

section > ul > li:nth-child(4) > .img_config {
	top: 178px;
}

section > ul > li > .img_config > a {
	width: 220px;
	height: 14px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

section > ul > li:nth-child(4) > .img_config > a {
	width: 240px;
}

/***底部***************************/
footer .foot_top {
	width: 1215px;
	height: 130px;
	position: relative;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: gray solid 1px;
}

footer .foot_top .foot_text {
	width: 800px;
	height: 90px;
	float: left;
}

footer .foot_top .foot_text>li {
	display: inline-block;
	list-style: none;
	margin-right: 85px;
}

footer .foot_top .foot_text>li>ul>li {
	list-style: none;
	font-size: 13px;
	margin-bottom: 5px;
}

footer .foot_top .foot_text>li:last-child {
	margin: 0;
}

footer .foot_top .foot_text>li>ul>li>a {
	text-decoration: none;
	color: gray;
}

footer .foot_top .right_text {
	width: 205px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 0;
}

footer .foot_top .right_text>p:nth-of-type(1) {
	width: 190px;
	height: 40px;
	color: black;
	font-size: 27px;
	float: right;
}

footer .foot_top .right_text>p:nth-of-type(2) {
	color: gray;
	width: 240px;
	position: relative;
	top: 0px;
	font-size: 12px;
	transform: translateX(-45px);
}

footer .foot_top .right_text>div {
	width: 130px;
	height: 30px;
	border-radius: 3px;
	color: midnightblue;
	position: absolute;
	bottom: 0;
	right: 0;
	border: silver solid 1px;
	text-align: center;
	line-height: 30px;
}

footer .foot_top .right_text>div > span {
	width: 15px;
	height: 15px;
	float: left;
	text-align: center;	
	line-height: 15px;
	color: white;
	background: #5079d9;
	border-radius: 10px;
	font-size: 6px;
	margin-top: 7.5px;
	transform: translateX(20px);
}

footer .foot_bottom {
	width: 1230px;
	height: 70px;
	font-size: 10px;
	color: darkslategray;
	position: relative;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
}

footer .foot_bottom>div {
	width: 700px;
	height: 40px;
	float: left;
}

footer .foot_bottom>div>p {
	width: 500px;
	float: left;
}

footer .foot_bottom>div>a {
	text-align: center;
	width: 60px;
	text-decoration: none;
	float: left;
	margin-left: 5px;
	border-left: gainsboro solid 1px;
}

footer .foot_bottom>div>a:nth-of-type(4) {
	width: 400px;
	height: 20px;
	border-left: none;
	text-align: initial;
	float: left;
	color: gray;
	padding-top: 10px;
}








aside > a {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 20px;
	right: 17px;
	opacity: 0;
	transition: all 1s; 
	transform: translateY(70px);
	background: url(../imgJianGuoPro2/arrow_up.e06a918c6b2be8e0617dbaa8675c3e02.png) no-repeat -5px -5px;
}

aside > a:hover {
	opacity: 1;
}



